
body{
    background-color: #ededee !important;
}

.contenido{
    margin-top: 10%;
    background-color: #d7d7d7;
    width: 500px;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}